.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.scrollableContent {
    flex-grow: 1;
    overflow-y: scroll;
    height: 0;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollableContent > * {
    margin-top: 8px;
}

.scrollableContent > div {
    width: 100%;
}

.scrollableContent > span {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100px;
}

.fixedContent {
    margin-left: auto;
    width: 100%;
}

.totals {
    text-align: right;
}

.topBunDropZone {
    border-radius: 70% 70% 30% 30%;
    border: dashed cyan;
    width: 90%;
    height: 70px;
}

.fillingIngredientsDropZone {
    border-radius: 30% 30% 30% 30%;
    border: dashed cyan;
    width: 90%;
    height: 70px;
    flex-grow: 1;
}

.bottomBunDropZone {
    border-radius: 30% 30% 70% 70%;
    border: dashed cyan;
    width: 90%;
    height: 70px;
}