.detailsContainer > * {
    display: flex;
    justify-content: center;
}

.ingredientImage {
    width: 500px;
}

.enegryValuesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-basis: 20%;
}

.enegryValueContainer {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
