.profileContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.profileSideColumn {
    width: 250px;
}

.profileSideColumn a {
    white-space: nowrap;
}

.activeMenuItem {
    color: white;
}