.detailsContainer > * {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.ingredientImage {
    width: 500px;
}

.enegryValuesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-basis: 20%;
}
